//type
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');


$font-family-heading: 'Barlow' ,Helvetica,Arial,sans-serif;
$font-family-sans-serif: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-monospace: "Liberation Mono", "Courier New", monospace;

$theme-colors: (
  "primary": #421F71,
  "primary-light": #68078D,
  "accent": #CDA95B,
  "accent-dark": #B29768,
  "dark": #421F71,
  "light": #eaeff5,
  "white": #fff);

$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 2.5;
$h5-font-size: $font-size-base * 2;
$h6-font-size: $font-size-base * 1.5;
$subtitle1: $font-size-base * 1.25;
$subtitle2: $font-size-base * 1;
$button-cta: $font-size-base * 1.25;
$button-text: $font-size-base * 0.85;
$overline: $font-size-base * 0.85;
$caption: $font-size-base * 0.75;

$nav-tabs-border-color: $gray-300;
$nav-tabs-border-width: $border-width * 2;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: theme-color('light');
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-bg: theme-color('primary');
$nav-tabs-link-active-border-color: theme-color('light') theme-color('light') $nav-tabs-link-active-bg;

$nav-divider-margin-y: $spacer / 2;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

body {
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
}

h1,
.h1 {
  @include font-size($h3-font-size);
}

h2,
.h2 {
  @include font-size($h5-font-size);
}

h3,
.h3 {
  @include font-size($h6-font-size);
}

h4,
.h4 {
  @include font-size($h4-font-size);
}

h5,
.h5 {
  @include font-size($h5-font-size);
}

h6,
.h6 {
  @include font-size($h6-font-size);
}

p, .p{
  color: gray('700');
}

.section-title {
  font-size: $h5-font-size;
}

.overline {
  font-size: $overline;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: theme-color('accent');
}

.caption {
  font-size: $caption;
  opacity: 0.75;
}

.symbol {
  font-family: $font-family-monospace;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: theme-color('primary');
}

hr {
  border-top: 0.2rem solid theme-color('primary');

  &.inverse {
    border-color: theme-color('light');
  }
}

a {
  color: theme-color('primary');
}

@mixin a-inverse {
  a {
    color: color-yiq(#000); // returns `color: #fff`

    &:hover {
      color: color-yiq(#000); // returns `color: #fff`
    }
  }
}

ul:not(.navbar-nav, .nav-tabs) {
  padding-inline-start: 1rem;
  list-style: none;

  li {
    &::before {
      content: "•";
      color: theme-color('primary');
      display: inline-block;
      width: 1em;
      margin-left: -1em
    }
  }
}

// spacing, paddind and margin

@mixin py-l {
  padding-bottom: 4rem;
  padding-top: 4rem;

  @media (min-width: 768px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@mixin pt-l {
  padding-top: 4rem;

  @media (min-width: 768px) {
    padding-top: 10rem;
  }
}

@mixin pb-l {
  padding-bottom: 4rem;

  @media (min-width: 768px) {
    padding-bottom: 10rem;
  }
}

@mixin py-m {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  @media (min-width: 768px) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

@mixin pt-m {
  padding-top: 2.5rem;

  @media (min-width: 768px) {
    padding-top: 7.5rem;
  }
}

@mixin pb-m {
  padding-bottom: 2.5rem;

  @media (min-width: 768px) {
    padding-bottom: 7.5rem;
  }
}

@mixin py-s {
  padding-bottom: 2rem;
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@mixin pt-s {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 5rem;
  }
}

@mixin pb-s {
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-bottom: 5rem;
  }
}

@mixin my-xs {
  margin-bottom: 1rem;
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@mixin mt-xs {
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-top: 2rem;
  }
}

@mixin mb-xs {
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

//shadows
@mixin shadow-s {
  box-shadow: 0 0 24px 0 rgba(theme-color("primary"), 0.10);
}

//button styles
.btn {
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-size: $button-text;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  margin: 0 0.5rem 0.5rem;
  padding: 1rem;
  transition: all 0.3s;
  &:hover{
    transform: translateY(-0.25rem);
  }
}

.btn-lg {
  font-size: $button-cta;
  min-width: 18.5rem;
  @include my-xs();
  padding: 1rem 1rem;
}

.btn-primary {
  background-color: theme-color('primary');
  border-color: theme-color('primary');
  &:hover{
    background-color: theme-color('primary-light');
    border-color: theme-color('primary-light');
  }
}

.btn-secondary {
  background-color: theme-color('accent');
  border-color: theme-color('accent');
  color: theme-color('primary');
  &:hover{
    background-color: theme-color('accent-dark');
    border-color: theme-color('accent-dark');
    color: theme-color('primary');
  }
}

.btn-outline-primary {
  border-color: theme-color('primary');
  color: theme-color('primary');
  &:hover{
    border-color: theme-color('primary');
    color: theme-color('primary');
    background-color: rgba(theme-color('white'), 0.3);
  }
}

.btn-outline-secondary {
  border-color: theme-color('accent');
  color: theme-color('accent');
  &:hover{
    background-color: theme-color('accent');
    color: theme-color('white');
  }
}

.btn-no-outline-primary {
  color: theme-color('primary');
  &:hover{
    border-color: theme-color('accent');
    background-color: theme-color('accent');
    color: theme-color('primary-light');
    text-decoration: underline;
  }
}

.btn-no-outline-secondary {
  color: theme-color('accent');
  &:hover{
    border-color: theme-color('primary');
    background-color: theme-color('primary');
    color: theme-color('accent');
  }
}

.btn-light {
  color: theme-color('primary');
  &:hover{
    background-color: theme-color('accent');
    border-color: theme-color('accent');
  }
}


a.btn-a-link{
  color: theme-color('primary');
  font-weight: 700;
  display: inline-block;
  background:
  linear-gradient(
    to bottom, theme-color('accent') 0%,
    theme-color('accent') 100%
  );
 background-position: 0 100%;
 background-repeat: repeat-x;
 background-size: 4px 4px;
text-decoration: none;
transition: background-size .2s;
  &:hover{
    background-size: 4px 100%;
}}

// Nav
nav {
  a.nav-link {
    font-family: $font-family-heading;
    // text-transform: uppercase;
    color: theme-color('light');
  }
}

//img treatment

.img-wrapper {
  img {
    z-index: 1;
    position: relative;
    box-shadow: 1rem 1rem 0px 0px rgba(theme-color('accent'), 0.9);
  }
}

//model

@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    width: 100%
  }
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: theme-color('light');
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  flex-flow: column;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-fullscreen {
  max-width: 100vw;
}

// scroll reveal anti-flickering

html.sr .load-hidden {
  visibility: hidden;
}

// youtube responsive
.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  }