// Theme: Victoria Mutual Digital Asset Trading Theme
// Author: Blockstation - Kody Zhou
// Version: v1

//import
@import "../../scss/bootstrap";
@import "variable";


// custom styles

#header{
  min-height: 90vh;
  background-position-x: center;
  // @include pb-l;
  // background-image: url('../img/bg-line.png'), linear-gradient(180deg, theme-color('accent') 75%, theme-color('primary') 75%);
  background-image: url('../img/bg-line.png'), linear-gradient(180deg, theme-color('accent') 75%, theme-color('accent') 75%);
  background-repeat: repeat-y, no-repeat;
  background-attachment: fixed;
  border: 20px solid theme-color('primary');
nav{
  position: relative;
  z-index: 2;
}
}

.banner{
  color: map_get($theme-colors, 'white');
  text-align: center;
  align-items: center;
  display: flex;
  min-height: calc(80vh - 100px);
  .row{    align-items: center;}
  .headline{
      @include pt-s;
    font-size: $h4-font-size;
    font-weight: 700;
    // color: theme-color('primary');
    @include my-xs();
    @media (min-width: 768px) {
      font-size: $h3-font-size;
    }
  }
  .video-demo{
    width: 100%;
    @include shadow-s();
    border-radius: 12px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateY(4rem);
    z-index: 3;
    position: relative;
    padding:0;
  }
  .subtitle{
    font-size: $subtitle1;
    color: rgba(white, 0.7);
  }
}

#top-features{
  // background: map_get($theme-colors, 'light');
  position: relative;
  z-index: 2;
  @include pt-l();
  @include pb-s();
  .section-head{
    @include my-xs();
    text-align: center;
  }
  .card{
    // top:2rem;
    border: none;
    padding: 1.5rem 1rem;
    // background: map_get($theme-colors, 'light');
        // @include shadow-s();
        text-align: center;
    i{
      color: map_get($theme-colors, 'primary');
      margin-bottom:2rem;
      display: block;
    }
    .card-title{
      font-size: $subtitle1;
      font-weight: bold;
      display: inline-block;
      // background: map_get($theme-colors, 'accent');
    }
  }
}

#about{
  background-color: map_get($theme-colors, 'light');
  position: relative;
  z-index: 2;
  // background-image: url('../img/demo-platform.png');
  // background-size: 60%;
  // background-repeat: no-repeat;
  // background-position: 120% 75%;
  .section-title{
    color: theme-color('primary');
    @include pb-s();
  }
  @include py-s();
  .img-overflow {
    position: relative;
    width: 100%;
  @media (min-width: 768px) {
    position: absolute;
    width: 50vw;
    right: 0px;
    top: 20vh;
  }
  @media (min-width: 992px) {
    position: absolute;
    width: 50vw;
    right: 0px;
    bottom: 10vh;
  }
  img {
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
    -moz-box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
    box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
    transform-origin: top left;
  }
}
.video-wrapper{
  @include make-col-ready;
  @include media-breakpoint-up(lg) {
    @include make-col(6);
  }
  .wistia_responsive_wrapper{
  -webkit-box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
  -moz-box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
  box-shadow: 1rem 1rem 0px 0px rgba(map_get($theme-colors, 'primary'), 0.9);
  }
}
.youtube-wrapper{
 width: 100%;
}
}

#faq{
  background: url('../img/faq-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .overline{
    color: map_get($theme-colors, 'accent');
  }
  .topic{
    margin-bottom:4rem;
  }
  i{
    color: map_get($theme-colors, 'accent');
  }
  h3{
    font-size: $subtitle1;
    @include my-xs();
  }
  @include pt-l();
  @include pb-m();
}

#trading{
  .section-head{
    @include py-s();
    text-align: center;
  }
  .heading{
    @include my-xs();
  }
  @include pb-l();
}

#SecurityToken{
  .container{
    @include py-l();
  }
  .section-title{
    @include pb-s();
  }
  .heading{
    @include my-xs();
  }
  .blockstation{
    @include py-s;
  }
}

#customer{
  @include py-l();
  background-color: map_get($theme-colors, 'dark');
  color: color-yiq(#000); // returns `color: #fff`
  .overline{
    color: map_get($theme-colors, 'accent');
  }
  .section-title{
    @include pb-s();
  }
}

#support{
  @include pt-l();
  @include pb-m();
  i{
    color: map_get($theme-colors, 'primary');
  }
  .heading{
    @include my-xs();
}}

#aboutjse{
  background-color: map_get($theme-colors, 'primary');
  color: color-yiq(#000); // returns `color: #fff`
  @include a-inverse();
  .overline{
    color: map_get($colors, 'gray-dark');
  }
  @include py-m();
  .press-release{
    @include pt-s();
  }
}

footer{
  background-color: map_get($theme-colors, 'accent');
  color: color-yiq(#000); // returns `color: #fff`
  text-align: center;
  @include py-s();
}

footer, #aboutjse, #customer
{
  p{
    color: white;
  }
}

#registrationModal{
  ul.nav{
    margin-bottom: 2rem;
  }
}

.modal-header {
  @media (min-width: 768px){
    min-height: 20vh;
  }
  border-bottom: none;
}
.modal-content{
  background-color: map_get($theme-colors, 'light');
  .form-control{
    border:0;
  }
}
.modal-footer{
  justify-content: center;
  padding: 1rem;
  border-top: none;
}

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    // margin-bottom: -$nav-tabs-border-width;
    width: calc(100% / 2);
    text-align: center;
  }
  a{
    color: $gray-600;
  }
  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);
    margin-bottom: 0;
    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: map_get($theme-colors, 'primary');
    background-color: map_get($theme-colors, 'light');
    border-color: $nav-tabs-link-active-border-color;
    border-bottom-width: 4px;
  }
}